
/* Large desktop */
@media (min-width: 1200px) {

}
 
/* Portrait tablet to landscape and desktop */
@media (max-width: 1199px) { 

}

@media (max-width: 979px) { 

}

 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
  html, body{
    font-size: 14px;
    line-height: 16px;
    padding-left: 0;
    padding-right: 0;
  }

}



/* Landscape phone to portrait tablet */
@media (max-width: 560px) { 

  .splash-wrap{
    width: 100%;
  }

  .content{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border: none;
  }

  .headline{
    margin-top: 20px;
  }

  .headline h5 span{
    display: block;
  }

 

}


 
/* Landscape phones and down */
@media (max-width: 480px) {
  .content{
    padding-top: 10px;
  }

  .headline{
    padding: 0;
  }


  h3{
    font-size: 30px;
    line-height: 32px;
  }

  h5{
    font-size: 20px;
    line-height: 22px;
  }




  .footer{
    margin-bottom: 10px;
  }



  .footer{
    font-size: 10px;
  }

  .social img{
    height: 30px;
    width: 30px;
  }

}
